@page
@model WEB_Front.Pages.Home.IndexModel
@{
    var count = 0;
    var count_category = 1;
    var slide_count = 1;
    var slide_count_col2 = 1;
    var slide_count_col3 = 1;
}

@await Component.InvokeAsync("Menu")
@await Component.InvokeAsync("Select")
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var product in Model.DBProduct)
                {
                    @if (product.CategoryId == @count_category && @count_category == 1)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="@product.ImageUrl">
                                <h5><a href="#">Mỹ phẩm high-end</a></h5>
                            </div>
                        </div>
                        count_category++;
                        continue;
                    }
                    @if (product.CategoryId == @count_category && @count_category == 2)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="@product.ImageUrl">
                                <h5><a href="#">Chăm sóc da mặt</a></h5>
                            </div>
                        </div>
                        count_category++;
                        continue;
                    }
                    @if (product.CategoryId == @count_category && @count_category == 3)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="@product.ImageUrl">
                                <h5><a href="#">Trang điểm</a></h5>
                            </div>
                        </div>
                        count_category++;
                        continue;
                    }
                    @if (product.CategoryId == @count_category && @count_category == 4)
                    {
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="@product.ImageUrl">
                                <h5><a href="#">Chăm Sóc Cơ Thể</a></h5>
                            </div>
                        </div>
                        count_category++;
                        continue;
                    }

                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Mỹ Phẩm High-Eng</li>
                        <li data-filter=".fresh-meat">Chăm sóc cơ thể</li>
                        <li data-filter=".vegetables">Chăm sóc da mặt</li>
                        <li data-filter=".fastfood">Trang điểm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">

            @foreach (var product in Model.DBProduct)
            {
                if (@count < 8)
                {
                    if (product.Featured && (@count == 0 || count == 4))
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="@product.ImageUrl">
                                    <ul class="featured__item__pic__hover">
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-heart"></i></a></li>
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-retweet"></i></a></li>
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href=/Detail/Index>@product.Title</a></h6>
                                    <h5 class="rating">
                                        @foreach (var ra in @Model.points)
                                        {
                                            @if (ra.ProductId == product.Id)
                                            {
                                                @for (var i = 0; i < 5; i++)
                                                {
                                                    if (i <= ra.points)
                                                    {
                                                        <i class="fa-solid fa-star checked"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-solid fa-star "></i>
                                                    }
                                                }
                                            }

                                        }
                                    </h5>
                                    <h5>@product.Variants[0].Price</h5>
                                </div>
                            </div>
                        </div>
                        count++;
                        continue;
                    }
                    if (product.Featured && (@count == 1 || count == 5))
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="@product.ImageUrl">
                                    <ul class="featured__item__pic__hover">
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-heart"></i></a></li>
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-retweet"></i></a></li>
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id>@product.Title</a></h6>
                                    <h5 class="rating">
                                        @foreach (var ra in @Model.points)
                                        {
                                            @if (ra.ProductId == product.Id)
                                            {
                                                @for (var i = 0; i < 5; i++)
                                                {
                                                    if (i <= ra.points)
                                                    {
                                                        <i class="fa-solid fa-star checked"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-solid fa-star "></i>
                                                    }
                                                }
                                            }

                                        }
                                    </h5>
                                    <h5>@product.Variants[0].Price</h5>
                                </div>
                            </div>
                        </div>
                        count++;
                        continue;
                    }
                    if (product.Featured && (@count == 2 || count == 6))
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="@product.ImageUrl">
                                    <ul class="featured__item__pic__hover">
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-heart"></i></a></li>
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-retweet"></i></a></li>
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id>@product.Title</a></h6>
                                    <h5 class="rating">
                                        @foreach (var ra in @Model.points)
                                        {
                                            @if (ra.ProductId == product.Id)
                                            {
                                                @for (var i = 0; i < 5; i++)
                                                {
                                                    if (i <= ra.points)
                                                    {
                                                        <i class="fa-solid fa-star checked"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-solid fa-star "></i>
                                                    }
                                                }
                                            }

                                        }
                                    </h5>
                                    <h5>@product.Variants[0].Price</h5>
                                </div>
                            </div>
                        </div>
                        count++;
                        continue;
                    }
                    if (product.Featured && (@count == 3 || count == 7))
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                            <div class="featured__item">
                                <div class="featured__item__pic set-bg" data-setbg="@product.ImageUrl">
                                    <ul class="featured__item__pic__hover">
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-heart"></i></a></li>
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-retweet"></i></a></li>
                                        <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id>@product.Title</a></h6>
                                    <h5 class="rating">
                                        @foreach (var ra in @Model.points)
                                        {
                                            @if (ra.ProductId == product.Id)
                                            {
                                                @for (var i = 0; i < 5; i++)
                                                {
                                                    if (i <= ra.points)
                                                    {
                                                        <i class="fa-solid fa-star checked"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-solid fa-star "></i>
                                                    }
                                                }
                                            }

                                        }
                                    </h5>
                                    <h5>@product.Variants[0].Price</h5>
                                </div>
                            </div>
                        </div>
                        count++;
                        continue;
                    }
                    if (@count == 8)
                    {
                        break;
                    }
                }
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/images/anh3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/images/anh4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model.DBProduct)
                            {

                                @if (@slide_count < 4 && product.Id > 30)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="@product.ImageUrl" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@product.Title</h6>
                                            <span>@product.Variants[0].Price</span>
                                            <h5 class="rating">
                                                @foreach (var ra in @Model.points)
                                                {
                                                    @if (ra.ProductId == product.Id)
                                                    {
                                                        @for (var i = 0; i < 5; i++)
                                                        {
                                                            if (i <= ra.points)
                                                            {
                                                                <i class="fa-solid fa-star checked"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa-solid fa-star "></i>
                                                            }
                                                        }
                                                    }

                                                }
                                            </h5>
                                        </div>
                                    </a>

                                    slide_count++;
                                    continue;
                                }
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model.DBProduct)
                            {

                                @if (@slide_count < 7 && product.Id > 17)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="@product.ImageUrl" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@product.Title</h6>
                                            <span>@product.Variants[0].Price</span>
                                            <h5 class="rating">
                                                @foreach (var ra in @Model.points)
                                                {
                                                    @if (ra.ProductId == product.Id)
                                                    {
                                                        @for (var i = 0; i < 5; i++)
                                                        {
                                                            if (i <= ra.points)
                                                            {
                                                                <i class="fa-solid fa-star checked"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa-solid fa-star "></i>
                                                            }
                                                        }
                                                    }

                                                }
                                            </h5>
                                        </div>
                                    </a>

                                    slide_count++;
                                    continue;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model.DBProduct)
                            {

                                @if (@slide_count_col2 < 4 && product.Id > 23)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="@product.ImageUrl" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@product.Title</h6>
                                            <span>@product.Variants[0].Price</span>
                                            <h5 class="rating">
                                                @foreach (var ra in @Model.points)
                                                {
                                                    @if (ra.ProductId == product.Id)
                                                    {
                                                        @for (var i = 0; i < 5; i++)
                                                        {
                                                            if (i <= ra.points)
                                                            {
                                                                <i class="fa-solid fa-star checked"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa-solid fa-star "></i>
                                                            }
                                                        }
                                                    }

                                                }
                                            </h5>
                                        </div>
                                    </a>

                                    slide_count_col2++;
                                    continue;
                                }
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model.DBProduct)
                            {

                                @if (@slide_count_col2 < 7 && product.Id > 8)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="@product.ImageUrl" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@product.Title</h6>
                                            <span>@product.Variants[0].Price</span>
                                            <h5 class="rating">
                                                @foreach (var ra in @Model.points)
                                                {
                                                    @if (ra.ProductId == product.Id)
                                                    {
                                                        @for (var i = 0; i < 5; i++)
                                                        {
                                                            if (i <= ra.points)
                                                            {
                                                                <i class="fa-solid fa-star checked"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa-solid fa-star "></i>
                                                            }
                                                        }
                                                    }

                                                }
                                            </h5>
                                        </div>
                                    </a>

                                    slide_count_col2++;
                                    continue;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model.DBProduct)
                            {

                                @if (@slide_count_col3 < 4 && product.Id > 18)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="@product.ImageUrl" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@product.Title</h6>
                                            <span>@product.Variants[0].Price</span>
                                            <h5 class="rating">
                                                @foreach (var ra in @Model.points)
                                                {
                                                    @if (ra.ProductId == product.Id)
                                                    {
                                                        @for (var i = 0; i < 5; i++)
                                                        {
                                                            if (i <= ra.points)
                                                            {
                                                                <i class="fa-solid fa-star checked"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa-solid fa-star "></i>
                                                            }
                                                        }
                                                    }

                                                }
                                            </h5>
                                        </div>
                                    </a>

                                    slide_count_col3++;
                                    continue;
                                }
                            }
                        </div>
                        <div class="latest-prdouct__slider__item">
                            @foreach (var product in Model.DBProduct)
                            {

                                @if (@slide_count_col3 < 7 && product.Id > 37)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="@product.ImageUrl" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@product.Title</h6>
                                            <span>@product.Variants[0].Price</span>
                                            <h5 class="rating">
                                                @foreach (var ra in @Model.points)
                                                {
                                                    @if (ra.ProductId == product.Id)
                                                    {
                                                        @for (var i = 0; i < 5; i++)
                                                        {
                                                            if (i <= ra.points)
                                                            {
                                                                <i class="fa-solid fa-star checked"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa-solid fa-star "></i>
                                                            }
                                                        }
                                                    }

                                                }
                                            </h5>
                                        </div>
                                    </a>

                                    slide_count_col3++;
                                    continue;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 213C Phạm Thế Hiển Phường 4 Quận 8 TPHCM </li>
                        <li>Phone: +84 338093594</li>
                        <li>Email: minhcanhbinhdai@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
