@page
@model WEB_Front.Pages.Cart.IndexModel
@{
    var count_qua = 0;
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Header Section Begin -->
    @await Component.InvokeAsync("Menu")
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    @await Component.InvokeAsync("SelectBanner")
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Shopping Cart</h2>
                        <div class="breadcrumb__option">
                            <a asp-page="/Home/Index">Home</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DBProduct)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="@item.ImageUrl" alt="">
                                            <h5>@item.Title</h5>
                                        </td>
                                        
                                        <td class="shoping__cart__price" id="price1">
                                            @item.Variants[0].Price
                                        </td>
                                        
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    @foreach (var itemCart in Model.DBCartItem)
                                                    {
                                                        if (itemCart.UserId == Model.userid && itemCart.ProductId == item.Id)
                                                        {
                                                            <form asp-page="/Cart/Index" asp-route-IdProduct=@itemCart.ProductId medthod="POST">
                                                                <input type="text" value="@itemCart.Quantity" onchange="myFunction(@(itemCart.Quantity++))" id="qua">
                                                                <input type="submit" placeholder="submit" />
                                                            </form>
                                                            
                                                            
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </td>
                                        @foreach(var mi in Model.DBMixCart){
                                                @if (mi.product.Id == item.Id)
                                                {
                                    <td class="shoping__cart__total" id="total1">
                                        @mi.sum
                                        </td>}
                                            }
                                        <td class="shoping__cart__item__close">
                                            <span class="icon_close"></span>
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                            Upadate Cart</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span>@Model.sum</span></li>
                            <li>Total <span>@Model.sum</span></li>
                        </ul>
                        <a asp-page="/Checkout/Index" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

    <!-- Footer Section Begin -->
    @await Component.InvokeAsync("Footer")
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>function myFunction(v) {
    document.getElementById("qua").value = v;
    console.log(document.getElementById("qua").value)
    }</script>

</body>

</html>
