@page
@model WEB_Front.Pages.Detail.IndexModel
@{
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    @await Component.InvokeAsync("Menu")
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                                <li><a asp-page="/ShopGird_ID/index" asp-route-CategoryID=1>Mỹ Phẩm High-Eng</a></li>
                                <li><a asp-page="/ShopGird_ID/index" asp-route-CategoryID=2>Chăm sóc cơ thể</a></li>
                                <li><a asp-page="/ShopGird_ID/index" asp-route-CategoryID=4>Chăm sóc da mặt</a></li>
                                <li><a asp-page="/ShopGird_ID/index" asp-route-CategoryID=3>Trang điểm</a></li>
                         </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Vegetable’s Package</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="./index.html">Vegetables</a>
                            <span>Vegetable’s Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 src="@Model.DBProduct.ImageUrl" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="img/product/details/product-details-2.jpg"
                                 src="img/product/details/thumb-1.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg"
                                 src="img/product/details/thumb-2.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-5.jpg"
                                 src="img/product/details/thumb-3.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-4.jpg"
                                 src="img/product/details/thumb-4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>@Model.DBProduct.Title</h3>
                        <div class="product__details__rating">
                            <form asp-page="ProductDetail" asp-route-IdProduct=@Model.DBProduct.Id medthod="POST">
                                <div class="container_1">

                                    <div class="star-widget">
                                        <input type="radio" name="star1" id="rate-5" onclick="myFunction(5)">
                                        <label for="rate-5" class="fas fa-star"></label>

                                        <input type="radio" name="star2" id="rate-4" onclick="myFunction(4)">
                                        <label for="rate-4" class="fas fa-star"></label>

                                        <input type="radio" name="star3" id="rate-3" onclick="myFunction(3)">
                                        <label for="rate-3" class="fas fa-star"></label>

                                        <input type="radio" name="star4" id="rate-2" onclick="myFunction(2)">
                                        <label for="rate-2" class="fas fa-star"></label>

                                        <input type="radio" name="star5" id="rate-1" onclick="myFunction(1)">
                                        <label for="rate-1" class="fas fa-star"></label>

                                        <input type="hidden" id="star" name="star" value="5" />
                                    </div>

                                </div>

                                <br />
                                <input type="submit" placeholder="get it" />

                            </form>
                            <span>(15 ratings)</span>
                        </div>
                        @foreach (var variant in Model.DBProductVariants)
                        {
                            @if (Model.DBProduct.Id == variant.ProductId)
                            {
                                <div class="product__details__price">@variant.Price</div>
                                break;
                            }
                        }
                        <p>@Model.DBProduct.Description</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a asp-page="/Cart/Index" asp-route-ProductID=@Model.tmpID class="primary-btn">ADD TO CARD</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Weight</b> <span>0.5 kg</span></li>
                            <li>
                                <b>Share on</b>
                                <div class="share">
                                    <a href="https://www.facebook.com/HmMeow0907/"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/_h.mm.c_/"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                @await Component.InvokeAsync("Discription")
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var product in Model.DBProduct_tmp)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="@product.ImageUrl">
                                <ul class="product__item__pic__hover">
                                    <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-heart"></i></a></li>
                                    <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-retweet"></i></a></li>
                                    <li><a asp-page="/Detail/Index" asp-route-ProductID=@product.Id><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">@product.Title</a></h6>

                                @foreach (var variant in Model.DBProductVariants)
                                {
                                    @if (product.Id == variant.ProductId)
                                        {

                                        <h5>@variant.Price</h5>
                                        break;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
    <!-- Footer Section Begin -->
   @await Component.InvokeAsync("Footer")
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>function myFunction(v) {
            //Model.rt.rating=v;
            // = v;
            document.getElementById("star").value = v;
            console.log(document.getElementById("star").value)
        }</script>

</body>

</html>