@page
@model front.Pages.ProductDetailModel
@{
    var i = 0;
}<div class=" text-center">
    <div class="maintext">
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="@Model.DBProduct.ImageUrl" class="w-100" />
                    </div>
                    <div class="col-8 alig-items-center">
                        <div class="algin-middle makeYourOwnText" style="float:left">
                            <h3 style="text-align:left;">@Model.DBProduct.Title</h3>

                            <div>
                                <a>
                                    @foreach (var pb in Model.DBProductVariants)
                                    {

                                        @if (pb.ProductId == @Model.DBProduct.Id)
                                        {
                                            <h5 class="price" style="float:center">
                                                Price: @pb.Price VND
                                            </h5>

                                            break;
                                        }
                                    }
                                </a>

                            </div>

                            <h4 style="float:center">Description</h4>
                            <a style="float:center">@Model.DBProduct.Description</a>
                            <br />
                            <form asp-page="ProductDetail" asp-route-IdProduct="@Model.DBProduct.Id" medthod="POST"> 
                            <div class="container_1">

                                <div class="star-widget">
                                    <!--  <input type="hidden" class="rating" value="4"/>
                                    <i class="fa-solid fa-star checked"></i>
                                    <i class="fa-solid fa-star checked"></i>
                                    <i class="fa-solid fa-star checked"></i>
                                    <i class="fa-solid fa-star checked"></i>
                                    <i class="fa-regular fa-star checked"></i> -->
                                    <!--

                                    <a type ="radio" name="star" id="rate-5" onclick="myFunction(1)" class="fas fa-star" asp-area=""
                                    asp-page="Checkout/ThankYou" asp-route-Idrate=1 asp-route-IdProduct=Model.DBProduct.Id></a>
                                    <a type ="radio" name="star" id="rate-4" onclick="myFunction(2)" class="fas fa-star" asp-area=""
                                    asp-page="Checkout/ThankYou" asp-route-Idrate=2 asp-route-IdProduct=Model.DBProduct.Id></a>
                                    <a type ="radio" name="star" id="rate-3" onclick="myFunction(3)" class="fas fa-star" asp-area=""
                                    asp-page="Checkout/ThankYou" asp-route-Idrate=3 asp-route-IdProduct=Model.DBProduct.Id></a>
                                    <a type ="radio" name="star" id="rate-2" onclick="myFunction(4)" class="fas fa-star" asp-area=""
                                    asp-page="Checkout/ThankYou" asp-route-Idrate=4 asp-route-IdProduct=Model.DBProduct.Id></a>
                                    <a type ="radio" name="star" id="rate-1" onclick="myFunction(5)" class="fas fa-star" asp-area=""
                                    asp-page="Checkout/ThankYou" asp-route-Idrate=5 asp-route-IdProduct=Model.DBProduct.Id></a>
                                    -->

                                    <input type="radio" name="star1" id="rate-5" onclick="myFunction(5)">
                                    <label for="rate-5" class="fas fa-star"></label>

                                    <input type="radio" name="star2" id="rate-4" onclick="myFunction(4)">
                                    <label for="rate-4" class="fas fa-star"></label>

                                    <input type="radio" name="star3" id="rate-3" onclick="myFunction(3)">
                                    <label for="rate-3" class="fas fa-star"></label>

                                    <input type="radio" name="star4" id="rate-2" onclick="myFunction(2)">
                                    <label for="rate-2" class="fas fa-star"></label>

                                    <input type="radio" name="star5" id="rate-1" onclick="myFunction(1)">
                                    <label for="rate-1" class="fas fa-star"></label>

                                    <input type="hidden" id="star" name="star" value="" />
                                </div>

                            </div>

                            <br />
                            <input type="submit" placeholder="get it" />
                            <!-- <a class=" btn btn-primary" style="float:center" asp-area="" asp-page="" asp-route-Idrate=i>Get It</a> -->
                            <!-- <p class="btn btn-primary" style="float:center" onclick="myFunction()" asp-route-ID=1> get it</p> -->
                            </form>
                        </div>
                        

                    </div>
                </div>
            </div>


            <div class="row">
                <br />
                <div class="img_ng">
                    <img src="~/images/anh3.jpg" class="bgr" />
                </div>
                <!--var imagePath ="~/images/Pizzas/" + (pizza.ImageTitle + ".png");-->



            </div>
        </div>
  </div>
  </div>
        <script>
            function myFunction(v) {
                //Model.rt.rating=v;
                // = v;
                document.getElementById("star").value = v;
                console.log( document.getElementById("star").value ) }
        </script>
